@font-face{
    font-family: 'noto-bold';
    src: url('/fonts/NotoSans-Bold.ttf');
}



@font-face{
    font-family: 'noto-regular';
    src: url('/fonts/NotoSans-Regular.ttf');
}

@font-face{
    font-family: 'raleway';
    src: url('/fonts/Raleway-VariableFont_wght.ttf');
}